[Unit]
Description=Kong API Gateway
After=network.target

[Service]
Type=forking

ExecStart={{ kong_binary }} start -c {{ kong_conf_dir }}/kong.conf
ExecStop={{ kong_binary }} stop -c {{ kong_conf_dir }}/kong.conf
ExecReload={{ kong_binary }} reload -c {{ kong_conf_dir }}/kong.conf

Restart=on-failure
RestartSec=5

LimitNOFILE=4096

User={{ kong_user }}
Group={{ kong_group }}

WorkingDirectory={{ kong_install_dir }}

[Install]
WantedBy=multi-user.target
