database = postgres

pg_host = {{ pg_host }}
pg_port = {{ pg_port }}
pg_user = {{ pg_user }}
pg_password = {{ pg_password }}
pg_database = {{ pg_database }}

admin_listen = 0.0.0.0:8001
proxy_listen = 0.0.0.0:8000

admin_gui_listen = 0.0.0.0:8002

nginx_daemon = on
