_format_version: "3.0"
_transform: true

services:

{% for service in kong_services %}

  - name: {{ service.name }}
    url: http://{{ service.host }}:{{ service.port }}

{% if service.plugins is defined %}
    plugins:
{% for plugin in service.plugins %}
      - name: {{ plugin.name }}
{% if plugin.config is defined %}
        config:
{% for key, value in plugin.config.items() %}
          {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

    routes:
{% for route in service.routes %}
      - name: {{ route.name }}
        paths:
          - {{ route.path }}
        strip_path: {{ route.strip_path | default(true) }}

{% endfor %}
{% endfor %}
